<?xml version="1.0" encoding="UTF-8"?>
<!--设置log4j2的自身log级别为warn -->
<configuration status="warn">
    <properties>
        <property name="log.base">/data1/appuser/logs/service-pay</property>
    </properties>

    <appenders>
        <console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%t] [%p] [%X{IP}]- %C[%M:%L] - %m%n"/>
        </console>

        <RollingFile name="RollingFileInfo" fileName="${log.base}/info.log" filePattern="${log.base}/%d{yyyy-MM-dd}/info-%i.log">
            <PatternLayout pattern="[%d{HH:mm:ss:SSS}] [%t] [%p] [%X{IP}]- %C[%M:%L] - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
        </RollingFile>

<!--        <RandomAccessFile name="RandomAccessFile" fileName="${log.base}/asyncWithLocation.log" immediateFlush="false" append="true">
            <PatternLayout>
                <Pattern>[%t] - %m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>-->

    </appenders>

    <loggers>

        <logger name="org.apache.rocketmq" level="warn"/>
        <logger name="org.springframework" level="info"/>
        <logger name="RocketmqClient" level="warn"/>
        <logger name="me.robin.spring.rocketmq" level="debug"/>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFileInfo"/>
        </Root>
    </loggers>

</configuration>